body{
    background-image: url("https://www.sololearn.com/Uploads/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Nanum Myeongjo',sans-serif;
}

button[id="1"]{
    width: 10%;
    padding: 10px;
    border: 1px solid rgb(56, 56, 163);
    border-radius: 10px;
    box-sizing: border-box;
    resize: vertical;
    background-color: rgb(56, 56, 163);
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

button[id="2"]{
    width: 10%;
    padding: 10px;
    border: 1px solid skyblue;
    border-radius: 10px;
    box-sizing: border-box;
    resize: vertical;
    background-color: skyblue;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

button[id="3"]{
    width: 10%;
    padding: 10px;
    border: 1px solid rgb(5, 61, 114);
    border-radius: 10px;
    box-sizing: border-box;
    resize: vertical;
    background-color: rgb(5, 61, 114);
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

@media screen and (max-width: 450px){
    button{
        width: 50%;
        padding: 20px;
        margin: 10% auto 20px 0;
        height: 550%;
    }
}